<hr>
<br>
<div class="container">
<h4>Mentions légales</h4>
  <div class="flex-row mb-5">
    <button routerLink="/mentionslegales" type="button" class="btn btn-dark mr-3">Mentions légales</button>
    <button routerLink="/politique" type="button" class="btn btn-dark mr-3">Politique de confidentialité</button>
    <button routerLink="/conditions-utilisation" type="button" class="btn btn-dark mr-3">Conditions générales d'utilisation</button>
    <button routerLink="/conditions-generales" type="button" class="btn btn-dark">Conditions générales</button>
  </div>
</div>
