<div class="container customdivimg mt-3">
    <h1 class="text-center text-white bg-dark py-4">ADMIN AREA</h1>
    <button class="btn btn-light btn-lg mb-4 mr-2" routerLink="/home" >Home Page</button>
    <button (click)="logout()" class="btn btn-light btn-lg mb-4">Log-Out</button>
    <div class="d-flex flex-column">
        <br>
        <br>
        <button class="btn btn-light btn-lg btn-block mb-4" routerLink="/add-user" >Add Pro-User</button>
        <button class="btn btn-light btn-lg btn-block mb-4" routerLink="/user-list" >Pro-Users List</button>
        <br>
        <br>
        
        <button class="btn btn-light btn-lg btn-block mb-4" routerLink="/garage-list" >Garage List</button>
        
        <br>
        <br>
        <button class="btn btn-light btn-lg btn-block mb-4" routerLink="/car-list" >See Car Ads</button>
        
    </div>


</div>
