<div class="container customdivimg mt-3">
    <h1 class="text-center text-white bg-dark py-4">ADMIN AREA</h1>
    <div class="d-flex flex-column">
        <button class="btn btn-light btn-lg mb-4" routerLink="/home" >Home Page</button>
        <br>
        <br>
        <button class="btn btn-light btn-lg mb-4" routerLink="/add-user" >Add Pro-User</button>
        <button class="btn btn-light btn-lg mb-4" routerLink="/user-list" >Pro-Users List</button>
        <br>
        <br>
        
        <button class="btn btn-light btn-lg mb-4" routerLink="/garage-list" >Garage List</button>
        

        <button class="btn btn-light btn-lg mb-4" routerLink="." >See Car Ads</button>
        
    </div>


</div>
