<div class="container pt-5 customdivimg" >
  <app-home-btn></app-home-btn>
  <h1 class="text-light"> Conditions Générales</h1>
  <p class="paragraph text-justify customdivimg p-5 text-light">
    CONDITIONS GÉNÉRALES DE VENTE

Article 1 – Champ d’application et définitions
Les présentes conditions générales de vente (ci-après les « CGV ») sont applicables à l’ensemble des ventes de Véhicules conclues entre Centre-Auto-CCAS et le Client (tel que défini ci-après) à compter du 1er juin 2019 à l’exclusion de tous autres produits ou services proposés par le Groupe AUTO1, qui sont régis par leurs propres conditions. Elles ont été portées à la connaissance du Client préalablement à la conclusion de la vente et ont été expressément acceptées par le Client. Ces CGV peuvent être visualisées, imprimées et sauvegardées à tout moment à partir de la page www.Centre-Auto-CCAS.com. Toute Commande emporte acceptation sans réserve des présentes CGV.

Affilié : désigne relativement à une entité, (i) toute personne morale qui directement ou indirectement, contrôle cette entité, (ii) toute entité que cette personne morale contrôle, directement ou indirectement, et (iii) toute personne morale qui est contrôlée, directement ou indirectement, par une même personne que ladite entité. Il est entendu que la notion de contrôle doit être appréciée en accord avec l’article L. 233-3 I et II du Code de Commerce.
Client : désigne tout Consommateur, Non-Professionnel ou Professionnel ;
Consommateur : désigne, conformément aux dispositions de l’article liminaire du Code de la consommation, toute personne physique qui agit à des fins qui n’entrent pas dans le cadre de son activité commerciale, industrielle, artisanale ou libérale ;
Contrat : désigne tout contrat de vente conclu entre Centre-Auto-CCAS et le Client dans le cadre d’un système organisé de vente à distance, sans la présence physique simultanée de Centre-Auto-CCAS et du Client, par le recours exclusif à une ou plusieurs techniques de communication à distance jusqu’à la conclusion du contrat ;
Non-Professionnel : désigne, conformément aux dispositions de l’article liminaire du Code de la consommation, toute personne morale qui n'agit pas à des fins professionnelles.
Professionnel : désigne, conformément aux dispositions de l’article liminaire du Code de la consommation, toute personne physique ou morale, publique ou privée, qui agit à des fins entrant dans le cadre de son activité commerciale, industrielle, artisanale, libérale ou agricole, y compris lorsqu'elle agit au nom ou pour le compte d'un autre professionnel.
Véhicule : désigne tout Véhicule d’Occasion destiné à un usage non-professionnel par le Client.
Article 2 ‐ Véhicule objet de la vente
Le Client peut accéder, depuis la plateforme www.Centre-Auto-CCAS.com/fr, à l'ensemble des véhicules de la société Centre-Auto-CCAS proposés à la vente. Les annonces ainsi que les informations, photos et vidéos de présentation des véhicules ne constituent en aucun cas une offre de contracter un contrat d’achat. Les informations communiquées servent uniquement à fournir au Client les informations nécessaires pour commander le véhicule de son choix. Le Client peut également joindre le service client de Centre-Auto-CCAS pour obtenir plus d'informations sur les véhicules ou les processus de vente.
Article 3 ‐ Acceptation des CGV
La signature électronique du contrat par le Client emporte son adhésion pleine et entière aux présentes conditions générales de vente, à l'exclusion de toutes autres.
Article 4 ‐ Conclusion du Contrat
Le Client souhaitant faire l'acquisition d'un véhicule choisit ensuite des produits additionnels (garanties, modes de livraison…) et s’il souhaite ou non donner mandat à Centre-Auto-CCAS pour effectuer les démarches d’immatriculation. Il peut ensuite choisir entre plusieurs possibilités de paiement : le paiement comptant sous 3 jours ou un financement.

En cas de paiement comptant, le Client devra régler le montant intégral restant dû sous 3 jours après la signature de la commande et le règlement des arrhes de 500 euros.

En cas de financement, le Client devra régler l’éventuel solde au comptant sous 7 jours et transmettre à Centre-Auto-CCAS les justificatifs nécessaires à l’étude de son dossier par l’organisme de financement partenaire.

A défaut d'exécution des obligations dans les délais précités ou dans le cas d’un refus du dossier de financement par l’organisme partenaire, Centre-Auto-CCAS se réserve le droit d'annuler le contrat et par conséquent les deux parties seront libérées de toute obligation. Centre-Auto-CCAS remettra alors le véhicule en vente et remboursera les sommes déjà perçues.

En cliquant sur le bouton “Acheter maintenant“, le Client manifeste de façon indiscutable sa volonté de se porter acquéreur et reconnaît avoir eu connaissance, préalablement à la conclusion du Contrat, d'une manière claire et compréhensible, des présentes CGV plus amplement énoncées aux présentes et de toutes les informations et renseignements visés aux articles L. 111-1 à L. 111-8 du Code de la consommation issus de l’article 6 de la loi du 17 mars 2014, et en particulier :
- Les caractéristiques des Véhicules proposés par Centre-Auto-CCAS ;
- L’identité complète du vendeur (raison sociale, adresse géographique de l'établissement et coordonnées de contact) ;
- Le prix total d’une commande, en Euros et Toutes Taxes Comprises ou, lorsque le prix ne peut raisonnablement être calculé à l'avance du fait du caractère spécifique de la prestation commandée, le mode de calcul du prix et, s’il y a lieu, tous les frais supplémentaires ou, lorsque ces frais ne peuvent raisonnablement être calculés à l'avance, la mention que ces frais peuvent être exigibles ;
- Les modalités de paiement d’une commande et les modalités prévues pour le traitement des réclamations.

Après avoir cliqué sur “Acheter maintenant”, le Client sera invité à régler des arrhes de 500 euros afin de finaliser sa réservation, via carte bancaire ou Paypal. A défaut de versement des arrhes, le contrat ne sera pas parfaitement conclu.

Le Client dispose de trois (3) jours ouvrables pour régler le solde par virement bancaire et télédéposer les documents requis par Centre-Auto-CCAS par le biais de son espace client. Le Client pourra également communiquer ses documents par email envoyé à l’adresse contact-fr@Centre-Auto-CCAS.com.

Centre-Auto-CCAS remettra au Client, avant la conclusion du Contrat de vente, le procès-verbal de la visite technique établi depuis moins de 6 mois de tout véhicule soumis à la visite technique prévue par les dispositions des articles R. 323-22 et R. 323-26 du code de la route.
Article 5 - Prix
5.1 Prix stipulé au Contrat

Le prix du Véhicule tel que figurant sur le Contrat de Centre-Auto-CCAS adressé au Client s’entend TTC et comprend de manière détaillée :
- le prix du Véhicule décrit avec ses équipements de série,
- les prestations supplémentaires décrites sur le Contrat,
- les frais de formalité incluant notamment la gestion des démarches administratives, la préparation du véhicule, la carte grise provisoire (le cas échéant), les plaques provisoires et la mise à disposition du véhicule,
- les éventuels frais de transfert inter agence si le Client souhaite un lieu de livraison différent du lieu de stockage du véhicule,
Les bonus ou malus éventuels liés aux émissions de CO2 du Véhicule indiqués sur le Contrat sont présentés sous réserve d’application par les administrations. Les Véhicules d’Occasion ne bénéficient pas du bonus écologique. Ces mesures gouvernementales s’appliquant sur l’année en cours uniquement, Centre-Auto-CCAS n’est pas en mesure de savoir à l’avance si ces dispositifs seront reconduits ni les modalités exactes de ces dispositifs dans le cadre d’une éventuelle reconduction. Centre-Auto-CCAS ne pourra être tenue pour responsable de la suppression ou de la modification de ces dispositifs, notamment dans le cadre des Véhicules commandés sur une année et livrés sur l’année suivante.
5.2. Coût de la carte grise définitive
Le coût de la carte grise définitive dépend de la puissance fiscale du Véhicule, du niveau d’émission de CO² du Véhicule et du lieu de résidence du Client. Son montant sera à acquitter par le Client, en sus du Prix stipulé en 5.1.
Si le Client choisit de donner mandat à Centre-Auto-CCAS pour effectuer les démarches d’immatriculation pour son compte, il devra s’acquitter auprès d’Centre-Auto-CCAS d’un débours correspondant au coût de sa carte grise selon la grille officielle en vigueur. En cas d’évolution de cette grille, le montant pourra être revu à la hausse ou à la baisse au moment de l’immatriculation du véhicule soit après la période de rétractation de 14 jours suivant la livraison.
5.3. Prestations supplémentaires
En sus du Contrat relatif au Véhicule, le Client peut sélectionner un panel de prestations supplémentaires proposées par Centre-Auto-CCAS. Ces prestations supplémentaires seront comprises dans le Contrat. A moins qu’il n’en soit disposé autrement, les frais et autres coûts additionnels seront facturés pour ces prestations supplémentaires.
Article 6 - Modalités de paiement
Conformément à l’article 4 supra, le Client s’engage à s’acquitter au profit de Centre-Auto-CCAS des arrhes ainsi qu’à régler le solde comptant dans les délais impartis.

Tout paiement par virement bancaire devra être effectué par une banque ayant son siège social situé dans l’Union Européenne ou dans l’Espace Economique Européen.
Article 7 ‐ Livraison
Lorsque le Véhicule est prêt à être mis à la disposition du Client, Centre-Auto-CCAS en informe le Client en le contactant directement par téléphone et en lui adressant un message électronique. Sans réponse du Client dans un délai de huit (8) jours calendaires à compter de l’appel ou du message électronique susvisé, Centre-Auto-CCAS informera le Client par lettre recommandée avec accusé de réception de la mise à disposition du Véhicule.

Conformément aux dispositions de l’article L.216-2 du Code de la Consommation, sauf cas de force majeure, en cas de manquement à l’obligation de livraison dans le délai prévu au Contrat, le Client peut résoudre le Contrat par lettre recommandée avec demande d’avis de réception ou par un écrit sur un autre support durable si, après avoir enjoint selon les mêmes modalités Centre-Auto-CCAS d’effectuer la livraison dans un délai supplémentaire raisonnable, Centre-Auto-CCAS ne s’est pas exécutée dans ce délai. Le Contrat est considéré comme résolu à la réception par Centre-Auto-CCAS de la lettre ou de l’écrit l’informant de cette résolution, à moins que Centre-Auto-CCAS ne se soit exécutée dans ce délai.

Le Consommateur peut immédiatement résoudre le Contrat lorsque Centre-Auto-CCAS refuse de livrer le Véhicule ou lorsqu'il n'exécute pas son obligation de livraison du Véhicule à l'expiration du délai prévu au Contrat et que ce délai constitue pour le Consommateur une condition essentielle du Contrat. Cette condition essentielle résulte d'une demande expresse du Consommateur avant la conclusion du Contrat.
Lorsque le Contrat est résolu dans les conditions prévues à l’alinéa précédent, Centre-Auto-CCAS rembourse le Client de la totalité des sommes versées, au plus tard dans les quatorze (14) jours suivant la date à laquelle le Contrat a été dénoncé.
Il est ici rappelé les dispositions de l’article 1590 du Code civil, reproduites ci-dessous à l’identique :

Art. 1590 du Code civil : Si la promesse de vendre a été faite avec des arrhes chacun des contractants est maître de s'en départir,
Celui qui les a données, en les perdant,
Et celui qui les a reçues, en restituant le double.

Si le Client annule sa commande avant la date de livraison au plus tard, les arrhes versées seront définitivement acquises à Centre-Auto-CCAS, sauf à ce que le Client puisse faire état d’un juste motif, auquel cas Centre-Auto-CCAS pourra discrétionnairement renoncer à son droit de conserver les arrhes.
Article 8 ‐ Modalités de mise à disposition
Lorsque le Véhicule est prêt à être mis à la disposition du Client, Centre-Auto-CCAS en informe le Client en le contactant directement par téléphone et en lui adressant un message électronique. Sans réponse du Client dans un délai de huit (8) jours calendaires à compter de l’appel ou du message électronique susvisé, Centre-Auto-CCAS informera le Client par lettre recommandée avec accusé de réception de la mise à disposition du Véhicule.

Sauf cas de force majeure, le Client s’engage à prendre livraison dans les huit (8) jours calendaires qui suivront la date de réception de la lettre recommandée susvisée. Passé ce délai, et cumulativement :
1) la commande sera résiliée et les arrhes versées à Centre-Auto-CCAS resteront définitivement acquises à Centre-Auto-CCAS à titre d’indemnité, majorées des intérêts calculés au taux légal et qui commenceront à courir à l’expiration d’un délai de trois mois à compter du versement des arrhes ;
2) sauf accord préalable des parties, Centre-Auto-CCAS pourra facturer au Client des frais de garde à concurrence de 15€ TTC par jour, à compter de la réception par le Client du courrier RAR susvisé l’informant de la mise à disposition du Véhicule et jusqu’à la résolution du Contrat.

Le Client est libre de rapporter la preuve que de moindres voire qu’aucun frais n’a été réellement engagé par Centre-Auto-CCAS au titre des frais de gardiennage du Véhicule.

Centre-Auto-CCAS se réserve la possibilité de faire valoir ses droits en cas de pertes ou dommages supplémentaires.
Article 9 ‐ Droit de rétractation
Pour les Contrats à distance ou à la suite d’un démarchage téléphonique, le Client dispose d’un délai de rétractation de quatorze (14) jours calendaires à compter de la livraison du Véhicule.

Le Client pourra exercer son droit de rétractation en adressant à Centre-Auto-CCAS un courrier exprimant sans ambiguïté sa volonté de se rétracter et contenant les éléments permettant de l’identifier (nom, prénom, adresse, numéro du Contrat). Il pourra utiliser à cette fin le formulaire de rétractation joint aux présentes conditions générales de vente, qu’il adressera par mail à l’adresse : contact-fr@Centre-Auto-CCAS.com, ou par voie postale à l’adresse suivante : « Centre-Auto-CCAS, 21 boulevard Gambetta, 92130 ISSY-LES-MOULINEAUX ». Le Client devra être en mesure de prouver qu’il a exercé son droit de rétractation. Le Client ne pourra exercer son droit de rétractation qu’à la condition que l’ensemble des documents, notamment légaux, accompagnant le Véhicule soient restitués au plus tard concomitamment à la remise du Véhicule.

Les frais résultant du retour du Véhicule sont à la charge du Client.
Le Client devra restituer le Véhicule à Centre-Auto-CCAS sans retard et au plus tard dans les quatorze (14) jours calendaires suivant la communication de sa décision de se rétracter.
Dès lors que le Client aura exercé son droit de rétractation dans le délai imparti et selon les conditions ci‐avant décrites, Centre-Auto-CCAS s’engage, dès que le Véhicule lui aura été restitué ou dès que le Client aura fourni la preuve de l’expédition du Véhicule, à rembourser le Client, des sommes versées, y compris les frais de livraison dans un délai de quatorze (14) jours.
En toute hypothèse, les frais de remise en état du Véhicule restitué - si celui-ci a été endommagé et/ou accidenté -, seront à la charge du Client.

En outre, si le nombre de kilomètres parcourus depuis la livraison excède 1.000 km, le Client devra indemniser Centre-Auto-CCAS, pour chaque kilomètre parcouru au-delà dudit seuil de 1.000 km, à hauteur de 0,59 centimes TTC par kilomètre.
Article 10 ‐ Garantie légale de conformité
Le Consommateur bénéficie de la garantie légale de conformité, telle que définie aux articles L217-4, L217-5 et L217-12 du Code de la consommation, ci-après reproduits.

Art. L217-4 du Code de la consommation : Le vendeur livre un bien conforme au contrat et répond des défauts de conformité existant lors de la délivrance.
Il répond également des défauts de conformité résultant de l'emballage, des instructions de montage ou de l'installation lorsque celle-ci a été mise à sa charge par le contrat ou a été réalisée sous sa responsabilité.
Art. L217-5 du Code de la consommation : Le bien est conforme au contrat :
1° S'il est propre à l'usage habituellement attendu d'un bien semblable et, le cas échéant :
- s'il correspond à la description donnée par le vendeur et possède les qualités que celui-ci a présentées à l'acheteur sous forme d'échantillon ou de modèle ;
- s'il présente les qualités qu'un acheteur peut légitimement attendre eu égard aux déclarations publiques faites par le vendeur, par le producteur ou par son représentant, notamment dans la publicité ou l'étiquetage ;
2° Ou s'il présente les caractéristiques définies d'un commun accord par les parties ou est propre à tout usage spécial recherché par l'acheteur, porté à la connaissance du vendeur et que ce dernier a accepté.

Art. L217-12 du Code de la consommation : L'action résultant du défaut de conformité se prescrit par deux ans à compter de la délivrance du bien.

Art. L217-16 du Code de la consommation : Lorsque l'acheteur demande au vendeur, pendant le cours de la garantie commerciale qui lui a été consentie lors de l'acquisition ou de la réparation d'un bien meuble, une remise en état couverte par la garantie, toute période d'immobilisation d'au moins sept jours vient s'ajouter à la durée de la garantie qui restait à courir.
Cette période court à compter de la demande d'intervention de l'acheteur ou de la mise à disposition pour réparation du bien en cause, si cette mise à disposition est postérieure à la demande d'intervention.

Art. 1641 du Code civil : Le vendeur est tenu de la garantie à raison des défauts cachés de la chose vendue qui la rendent impropre à l'usage auquel on la destine, ou qui diminuent tellement cet usage que l'acheteur ne l'aurait pas acquise, ou n'en aurait donné qu'un moindre prix, s'il les avait connus.

Art. 1648 du Code civil, alinéa 1 : L'action résultant des vices rédhibitoires doit être intentée par l'acquéreur dans un délai de deux ans à compter de la découverte du vice.
Lorsqu’il agit en garantie légale de conformité, le Consommateur :
- bénéficie d’un délai de deux ans à compter de la délivrance du bien pour agir ;
- peut choisir entre la réparation ou le remplacement du bien, sous réserve des conditions de coût prévues par l’article L. 211-9 du Code de la consommation ;
- est dispensé de rapporter la preuve de l’existence du défaut de conformité du bien durant les six mois suivant la délivrance du bien. Ce délai est porté à vingt-quatre mois à compter du 18 mars 2016, sauf pour les biens d’occasion. La garantie légale de conformité s’applique indépendamment de la garantie commerciale consentie à l’article 11 des présentes. Le Consommateur peut également décider de mettre en œuvre la garantie contre les défauts cachés de la chose vendue au sens de l’article 1641 du Code civil, visée à l’article 10 des présentes. Dans cette hypothèse, il peut choisir entre la résolution de la vente ou une réduction du prix de vente conformément à l’article 1644 du Code civil.
Article 11 – Garantie des défauts de la chose vendue
Conformément aux dispositions des articles 1641 et suivants du Code Civil, Centre-Auto-CCAS est tenue de la garantie à raison des défauts cachés de la chose vendue qui la rendent impropre à l’usage auquel on la destine ou qui diminuent tellement cet usage, que l’acheteur ne l’aurait pas acquise, ou n’en aurait donné qu’un moindre prix, s’il les avait connus. L’action résultant des vices rédhibitoires doit être intentée par le Client dans un délai de deux ans à compter de la découverte du vice.
Article 12 – Garantie commerciale
Tous les Véhicules sont garantis :

- (a) soit par la garantie constructeur, lorsque celle-ci est encore valide, c’est-à-dire dans un délai de deux ans ou plus, courant à compter de la première immatriculation du Véhicule (la durée exacte de la garantie constructeur est précisée dans le Contrat. Le contenu, l’étendue et les modalités de mises en œuvre de la garantie sont précisés soit dans le carnet de garantie du constructeur fourni avec les Véhicules livrés par Centre-Auto-CCAS, soit sur le site internet du constructeur ou dans son réseau.
Le Client est informé qu’il bénéficie en outre des actions de rappel lors des opérations de sécurité chez le concessionnaire de la marque le plus proche de chez lui. En aucun cas le Client ne pourra prétendre à un recours contre la société Centre-Auto-CCAS en cas de mauvais usage ou de non‐respect par le Client des instructions du constructeur dans l’application de la garantie.

Conformément à l’arrêté du 26 mai 2014, l’application de la garantie constructeur n’est pas conditionnée par la réalisation des prestations de réparation et entretien non couvertes par cette garantie, par un réparateur du réseau agrée par le constructeur.
- (b) soit par la garantie (« étendue ») offerte par Centre-Auto-CCAS, si la garantie constructeur n’est plus valide, comme indiqué dans le Contrat (la garantie offerte dépendant notamment de la catégorie du Véhicule acheté et de son kilométrage). Le contenu, l’étendue et les modalités de mise en œuvre de la garantie Centre-Auto-CCAS offerte sont précisées dans les conditions de garanties annexées au Contrat ;
Lorsque le Client demande, pendant le cours de la garantie constructeur ou de la garantie offerte par Centre-Auto-CCAS, une remise en état couverte par l’une de ces garanties, toute période d’immobilisation d’au moins sept (7) jours vient s’ajouter à la durée de la garantie qui restait à courir. Cette période court à compter de la demande d’intervention du Client ou de la mise à disposition pour réparation du Véhicule en cause, si cette mise à disposition est postérieure à la demande d’intervention.
Article 13 ‐ Satisfait ou Remboursé
Le Client qui ne bénéficie pas du droit de rétractation visé à l’article 9 des présentes CGV et qui n’est pas satisfait du produit livré pour une raison liée aux qualités ou au fonctionnement du Véhicule, dispose d’un délai de quatorze (14) jours calendaires à compter de la livraison du Véhicule pour :
- soit échanger son Véhicule contre un Véhicule dont les qualités substantielles et le prix sont équivalents, étant précisé que si le Véhicule équivalent n’est pas disponible sur le parc de l’agence, et si sa livraison nécessite un délai, le Client ne pourra pas conserver le Véhicule qu’il souhaite échanger dans l’attente de la livraison du Véhicule équivalent ;
- soit se rétracter afin de retourner à Centre-Auto-CCAS le Véhicule en parfait état d’origine et se faire rembourser du coût du Véhicule, en ce compris les frais résultant des articles 5.2 et 5.3 des présentes CGV.

Cette garantie ne s’applique que si les conditions suivantes sont cumulativement remplies :
1. le kilométrage parcouru depuis la date de livraison n’excède pas 1.000 km au compteur effectués dans un délai maximum de quatorze (14) jours calendaires suivant la date de livraison ;
2. le Véhicule n’a pas été endommagé et/ou accidenté et est restitué dans son état d’origine. Toutefois, dans l’hypothèse où le Véhicule ne serait pas dans son état d’origine, Centre-Auto-CCAS se réserve le droit (i) soit de reprendre le Véhicule et de facturer les réparations éventuelles au Client (ii) soit de ne pas reprendre le Véhicule. Pour toute demande d’échange ou de restitution à Centre-Auto-CCAS du Véhicule, le Client renseignera le formulaire intitulé « Formulaire de retour ».

Après avoir rempli et validé ledit formulaire dans le délai susvisé de 14 jours calendaires, le Client devra procéder à la remise du Véhicule dans le délai maximum de 14 jours calendaires à compter de la livraison du Véhicule, après expertise contradictoire.
Au moment de la reprise du Véhicule, Centre-Auto-CCAS remettra au Client un bon de reprise et il sera remboursé par virement dans un délai de sept (7) jours ouvrés à compter de l’émission dudit bon de reprise (sous réserve de la présence intégrale des documents d’immatriculation, clefs, écrou antivol, RIB, etc.).
Le remboursement du Prix du Véhicule ou son échange est réalisé, frais de formalité compris. Centre-Auto-CCAS ne remboursera pas les frais éventuels liés à l’annulation d’un financement. Dans l’hypothèse où le Véhicule précédent du Client a fait l’objet d’une reprise par Centre-Auto-CCAS, les stipulations de l’article 17 seront alors pleinement applicables.
Article 14 ‐Immatriculation du véhicule
Centre-Auto-CCAS peut assister le Client dans l’obtention de son immatriculation définitive si ce dernier fait le choix de donner mandat à Centre-Auto-CCAS au cours de sa commande conformément à l’article 5.2. Dans ce cas, le Client doit communiquer à Centre-Auto-CCAS les justificatifs requis par les autorités administratives.

Le Client est informé qu’il pourra, le cas échéant, rouler sous couvert d’une immatriculation provisoire attribuée par Centre-Auto-CCAS jusqu’à l’obtention de l’immatriculation définitive. Le Client est informé que pendant la durée de l’immatriculation provisoire, il ne pourra se rendre à l’étranger.
Conformément aux dispositions de l’article 5.2 des présentes CGV, les frais d’immatriculation du Véhicule sont à la charge du Client.
Article 15 ‐ Appellation
Les Véhicules provenant de l’étranger peuvent avoir une appellation différente. Le Client est avisé et accepte de prendre possession de son Véhicule selon l’appellation déterminée par le constructeur dans le pays de provenance.
Article 16 ‐ Stock
Le Client est informé que, pour les Véhicules présentés comme étant en stock, les délais de livraison et les prix ne sont garantis que dans la limite des stocks disponibles.
Article 17 ‐ Reprise
Dans l’hypothèse où le véhicule précédent du Client fait l’objet d’une reprise par Centre-Auto-CCAS, seront déduits du prix de la reprise les frais éventuels de réparation portant sur le Véhicule, qui seraient intervenus après l’expertise faite par Centre-Auto-CCAS. La carte grise du Véhicule repris doit être au nom du Client.

Pour valider la transaction, le Client devra transmettre à Centre-Auto-CCAS les éléments suivants :
‐ Carnet d’entretien du Véhicule ;
‐ Carte grise du Véhicule ;
‐ Carte d’identité de son propriétaire ;
‐ Justificatif de domicile du propriétaire du Véhicule de moins d’un mois ;
- Certificat de non-gage.

Le Client devra signer les certificats de cession et de non-gage pour valider la transaction.
Le Client s’engage à permettre à Centre-Auto-CCAS de procéder à toute vérification utile sur le Véhicule, à son inspection complète et à un essai éventuel sur route.
Il est expressément convenu qu’en cas d’annulation ou de résolution du Contrat principal, le Client se verra remboursé du montant de la valeur de la reprise contractuellement fixée du ou des Véhicules repris, le ou les précédents Véhicules repris par Centre-Auto-CCAS seront définitivement acquis par Centre-Auto-CCAS.
Article 18 ‐ Assurances
Le Client s’engage à assurer son Véhicule auprès de son assureur à compter du jour de la livraison. Centre-Auto-CCAS se dégage de toute responsabilité en cas de sinistre intervenant après la livraison.
Article 19 ‐ Réserve de propriété
Le Véhicule ne devient la propriété du Client qu’après complet paiement du Prix et des accessoires. Cette clause de réserve de propriété a été portée à la connaissance du Client lors de la signature du Contrat et par conséquent, avant la livraison du Véhicule.
Article 20 ‐ Cas de force majeure
Aucune des Parties ne sera tenue pour responsable envers l’autre ni ne pourra être considérée comme ayant violé le Contrat si elle est empêchée ou retardée dans l’exécution de ses obligations pour cause de force majeure et plus particulièrement d’incendie, d’inondation ou tout autre accident ayant causé la destruction partielle ou complète de l’entreprise, le manque de force motrice ou de matières premières résultant d’une cause d’ordre général, les catastrophes naturelles.
En cas de force majeure, la livraison par Centre-Auto-CCAS ou la prise de livraison par le Client sera reportée à une date où l’évènement de force majeure aura cessé sans que le Client ou Centre-Auto-CCAS ne puisse exiger une quelconque indemnité à l’autre partie.
Si l’évènement de force majeure dépasse une durée de quatre (4) semaines, chaque partie aura la faculté de résilier le Contrat par lettre recommandée avec accusé de réception. Centre-Auto-CCAS remboursera alors au Client le montant des arrhes par lui versées.
Article 21 ‐ Contact et service clientèle
Toute communication ou demande de renseignement doit être adressée, selon le cas, aux services suivants :
- pour ce qui concerne la prestation de Centre-Auto-CCAS, au siège social de Centre-Auto-CCAS : – 21 boulevard Gambetta - 92130 ISSY-LES-MOULINEAUX ;
- pour suivre l’exécution de sa commande, le Client pourra appeler le numéro 01.86.26.54.92. ou envoyer un email à l’adresse contact-fr@Centre-Auto-CCAS.com
- après la livraison, pour ce qui concerne la garantie du Véhicule : au service Clientèle du constructeur dont Centre-Auto-CCAS remet les coordonnées au Client lors de la livraison.
Article 22 – Remboursement de la différence
Si dans les quatorze (14) jours suivant la commande du Véhicule chez Centre-Auto-CCAS (date du versement des arrhes faisant foi), le Client trouve un Véhicule identique à un prix toutes taxes comprises et tous frais compris (s’entendent tous frais nécessaires ou inhérents à la commande ou à la livraison du véhicule, tels que les frais de formalités, les frais de livraison, les frais de préparation, cette liste n’est pas exhaustive) inférieur, auprès d’un professionnel de l’automobile ayant son siège social sur le territoire français depuis plus d’un an (par rapport à la date de la commande), Centre-Auto-CCAS remboursera au Client la différence selon les modalités décrites ci-dessous.

Afin de pouvoir bénéficier du remboursement de la différence par Centre-Auto-CCAS, le Client devra respecter les conditions suivantes :
- Le Véhicule commandé par le Client doit être un véhicule d’occasion présenté via une fiche véhicule transmise par Centre-Auto-CCAS ou directement dans une des agences de Centre-Auto-CCAS.
- Le Véhicule trouvé par le Client auprès d’un professionnel de l’automobile doit être identique au véhicule commandé par le Client. C’est-à-dire que les deux Véhicules doivent avoir les mêmes marque, modèle, finition, carrosserie, nombre de portes, motorisation, équipements, couleur, être disponible pour le Client dans les mêmes délais à 14 jours près, avoir la même durée et la même couverture de garantie (prise en charge des réparations) que celle proposée par Centre-Auto-CCAS, le même kilométrage à six mille (6000) kilomètres près et la même date de mise en circulation à six (6) mois près. Le Véhicule trouvé par le Client auprès d’un professionnel de l’automobile doit être dans un état global de qualité mécanique et de carrosserie équivalent à celui commandé auprès d’Centre-Auto-CCAS (avec une tolérance de cinq cents (500) euros de frais de remise en état).
- Le professionnel de l’automobile auprès duquel le Client a trouvé un Véhicule identique moins cher doit être en mesure de livrer le Véhicule en question dans un rayon de cent (100) kilomètres autour du point de livraison sélectionné par le Client pour le Véhicule commandé chez Centre-Auto-CCAS.

Pour bénéficier du remboursement de la différence le Client devra, dans un délai de quatorze (14) jours à compter du passage de la commande (date du versement des arrhes faisant foi), adresser à Centre-Auto-CCAS sa demande de remboursement de la différence en suivant la procédure suivante :
- Envoyer un email à l’adresse : contact-fr@Centre-Auto-CCAS.com
- Joindre un devis ou Contrat du professionnel de l’automobile auprès duquel le Client a trouvé un Véhicule identique. La date du devis doit être postérieure à la date de commande du véhicule (date du versement des arrhes faisant foi), chez Centre-Auto-CCAS. Ce devis devra présenter le prix du Véhicule identique, ainsi que tous frais nécessaires à la commande et à la livraison de celui-ci dans les conditions détaillées précédemment.
- Joindre l’ordre de remboursement dûment rempli.
- Joindre un RIB émanant d’une banque établie sur le territoire français.
- Joindre la photocopie du Contrat du Véhicule commandé chez Centre-Auto-CCAS.

L’intégralité des documents doivent être transmis par le Client à Centre-Auto-CCAS en une seule fois. Toute demande de remboursement incomplète, illisible ou frauduleuse, sera considérée comme nulle. Le remboursement de la différence est une offre réservée aux particuliers domiciliés en France métropolitaine, et limité à un seul remboursement par Client et par période d’un an.

Si l’ensemble des conditions précitées sont remplies, Centre-Auto-CCAS s’engage à rembourser au Client, le montant de la différence de prix entre le Véhicule commandé par le Client auprès de Centre-Auto-CCAS et le Véhicule identique trouvé par le client auprès d’un professionnel de l’automobile, selon les modalités décrites ci-dessous :
- Le remboursement par virement bancaire sera effectif sous quatre (4) semaines après la date de livraison du Véhicule et sous réserve d’un solde à payer de zéro (0) euros.
- Le remboursement de la différence deviendra caduque en cas d’application de la garantie « Satisfait ou 100 % Remboursé » cité dans l’article 13 des présentes conditions générales.
Article 23 ‐ Droit applicable et Règlement des litiges
Les présentes CGV sont régies par le droit français.
Le Service Client est à la disposition du Client pour toute réclamation et mettra tout en œuvre pour y répondre.
Les coordonnées de Centre-Auto-CCAS sont : contact-fr@Centre-Auto-CCAS.com Centre-Auto-CCAS : 21 boulevard Gambetta – 92130 ISSY-LES-MOULINEAUX – Téléphone : 01.86.26.54.92.

Le Client et Centre-Auto-CCAS s’engagent à faire leurs meilleurs efforts pour régler à l’amiable tout différend né de la formation, l’interprétation et l’exécution du Contrat.
Il est rappelé que le recours à une procédure amiable est facultatif, le Client et Centre-Auto-CCAS pouvant en tout état de cause soumettre leur différend aux juridictions nationales compétentes.
Dans la mesure permise par le droit applicable, la Convention des Nations Unies sur les contrats de vente internationale de marchandises (CIVB) n’est pas applicable.
Article 24 – Médiation
En cas de litige entre les parties, celles-ci s’efforceront de le résoudre à l’amiable. A défaut d’accord amiable, le Consommateur est informé conformément à l’article L.612-1 du code de la consommation, et sous réserve de satisfaire les dispositions prévues à l’article L.152-2 du code de la consommation, qu’avant de saisir éventuellement les tribunaux judiciaires compétents et à la suite d’une réclamation écrite auprès de nos services, il a la possibilité d’introduire une demande de résolution amiable par voie de médiation, dans un délai inférieur à un an à compter de sa réclamation écrite auprès du professionnel. Pour saisir le médiateur, le Consommateur doit formuler sa demande :
- Soit par écrit à : moi-de-bonne-mediationsolution, 555 chemin de la fuaxaddress, à Saint Moi de moi-meme (55555), tel : 55 55 55 55 55
- Soit par mail à : contat@moi-de-bonne-mediationsolution.fr
- Soit en remplissant le formulaire en ligne intitulé « Saisir le médiateur » sur le site https://www.moi-de-bonne-mediationsolution.fr
Quel que soit le moyen de saisine utilisé, la demande doit impérativement contenir :
- Les coordonnées postales, téléphoniques et électroniques du demandeur,
- Le nom et l’adresse et le numéro d’enregistrement chez moi-de-bonne-mediationsolution, du professionnel concerné,
- Copie de la réclamation préalable,
- tous documents permettant l’instruction de la demande (bon de commande, facture, justificatif de paiement, etc).

Le Consommateur reste libre d’accepter ou de refuser le recours à la médiation et, en cas de recours à la médiation, chaque partie est libre d’accepter ou de refuser la solution proposée par le médiateur. À défaut d’accord amiable, de recours à la médiation ou d’acceptation par les parties de la solution proposée par le médiateur, le litige sera expressément soumis au Tribunal de Commerce de Nanterre, auquel Centre-Auto-CCAS et le Client attribuent compétence exclusive et territoriale.
Article 25 ‐ Protection des données à caractère personnel et démarchage téléphonique
Le responsable du traitement des données à caractère personnel vous concernant, au sens des dispositions du RGPD et des autres dispositions applicables en matière de protection des données est :

Centre-Auto-CCAS France SAS
55, boulevard Fauxgambetta
55555 Issy-les-fauxlineaux
France
Tél.: 55.55.55.55.55
Courriel : contact-fr@Centre-Auto-CCAS.com

Pour toute question et/ou suggestion relatives à la protection des données, vous pouvez vous adresser directement, à tout moment, à notre délégué à la protection des données.

Notre délégué à la protection des données peut être contacté à l'adresse suivante :

Centre-Auto-CCAS France SAS
55, boulevard Fauxgambetta
55555 Issy-les-fauxlineaux
France
Tél.: 55.55.55.55.55
Courriel : contact-fr@Centre-Auto-CCAS.com

De plus amples informations concernant l’utilisation des données à caractère personnel et concernant les droits en découlant peuvent être obtenues en consultant la déclaration de protection des données accessibles à l’adresse www.Centre-Auto-CCAS.com/fr/policies/privacy/

Conformément à l’article L. 223-2 du Code de la consommation, le Client est informé qu’il peut refuser d’être contacté par téléphone en s’inscrivant sur la liste d’opposition au démarchage téléphonique sur le site https://conso.faux-address.fr/.
Article 26 – Nullité partielle
Si une ou plusieurs stipulations des présentes CGV sont tenues pour non valides ou déclarées nulles en application d’une loi, d’un décret, d’un règlement ou à la suite d’une décision définitive d’une juridiction compétente, les autres stipulations garderont toute leur force et leur portée.

Le fait pour Centre-Auto-CCAS de ne pas se prévaloir à un moment donné de l’une des clauses des CGV ne peut valoir renonciation à se prévaloir ultérieurement de ces mêmes clauses.
FORMULAIRE DE RÉTRACTATION
Annulation de commande (article L. 221-18 et suivants du code de la consommation).

Si vous souhaitez annuler votre commande, vous pouvez utiliser ce formulaire :

Conditions :
- Complétez et signez ce formulaire de rétractation
- Joignez un RIB
- Envoyez-le par courrier à l’adresse suivante : Centre-Auto-CCAS, Service Ventes à Particulier, 21 boulevard Gambetta - 92130 Issy-les-Moulineaux ou par courrier électronique à l’adresse contact-fr@Centre-Auto-CCAS.com
- Expédiez-le avant expiration d’un délai de 14 jours ouvrés à compter de la livraison du Véhicule.


Je soussigné(e) (Nom, Prénom) :
……………………………………………………………………………………………………………
Adresse :
……………………………………………………………………………………………………………

Déclare annuler la commande ci-après
Commande en date du :
…………………………………………………………………………………………………………
Contrat n° :
…………………………………………………………………………………………………………..
Motif de résiliation :
…………………………………………………………………………………………………………

Signature du Client :


Bon de rétractation à envoyer complété et signé par courrier dans un délai de 14 jours ouvrés à compter de la livraison du Véhicule.


FORMULAIRE DE RESTITUTION - SATISFAIT OU REMBOURSE
VOTRE DEMANDE :

Marque :
……………………………………………………………………………………………………………
Modèle :
……………………………………………………………………………………………………………
Immatriculation :
…………………………………………………………………………………………………………
Agence de livraison :
…………………………………………………………………………………………………………..
Date de livraison :
…………………………………………………………………………………………………………
Immatriculation :
…………………………………………………………………………………………………………
Kilométrage actuel de votre Véhicule :
…………………………………………………………………………………………………………
Disposez-vous de la carte grise définitive du véhicule (rayer la mention inutile) :
OUI / NON
Pour quelle raison souhaitez-vous procéder à la restitution du Véhicule ?
…………………………………………………………………………………………………………
A quelle date souhaitez-vous nous restituer votre Véhicule (hors dimanche et jours fériés) ?
…………………………………………………………………………………………………………
Souhaitez-vous ? (rayer la mention inutile) : Obtenir le remplacement du Véhicule / Être remboursé

Nom, Prénom (rayer la mention inutile)
Madame Monsieur
…………………………………………………………………………………………………………
Adresse :
…………………………………………………………………………………………………………
Code postal :
…………………………………………………………………………………………………………
Email :
…………………………………………………………………………………………………………
Téléphone :
…………………………………………………………………………………………………………



FORMULAIRE – REMBOURSEMENT DE LA DIFFÉRENCE
INFORMATIONS PERSONNELLES

Civilité :
……………………………………………………………………………………………………………
Nom :
……………………………………………………………………………………………………………
Prénom :
…………………………………………………………………………………………………………
Date de naissance :
…………………………………………………………………………………………………………..
Adresse :
…………………………………………………………………………………………………………
Code postal :
…………………………………………………………………………………………………………
Ville :
…………………………………………………………………………………………………………
Email :
…………………………………………………………………………………………………………
Téléphone :
…………………………………………………………………………………………………………

VOTRE VÉHICULE

Marque :
……………………………………………………………………………………………………………
Modèle :
……………………………………………………………………………………………………………
Numéro de châssis :
…………………………………………………………………………………………………………
Numéro de Contrat :
…………………………………………………………………………………………………………..


Rappel des conditions pour bénéficier de l’offre :
Si dans les quatorze (14) jours suivant la commande du Véhicule chez Centre-Auto-CCAS (date du versement des arrhes faisant foi), le Client trouve un Véhicule identique à un prix toutes taxes comprises et tous frais compris (s’entendent tous frais nécessaires ou inhérents à la commande ou à la livraison du véhicule, tels que les frais de formalités, les frais de livraison, les frais de préparation, cette liste n’est pas exhaustive) inférieur, auprès d’un professionnel de l’automobile ayant son siège social sur le territoire français depuis plus d’un an (par rapport à la date de la commande), Centre-Auto-CCAS remboursera au Client la différence selon les modalités décrites ci-dessous.

Dans quelles conditions le remboursement s’applique :
Afin de pouvoir bénéficier du remboursement de la différence par Centre-Auto-CCAS, le Client devra respecter les conditions suivantes :
- Le Véhicule commandé par le Client doit être un véhicule d’occasion présenté via une fiche véhicule transmise par Centre-Auto-CCAS ou directement dans une des agences de Centre-Auto-CCAS.
- Le Véhicule trouvé par le Client auprès d’un professionnel de l’automobile doit être identique au véhicule commandé par le Client. C’est-à-dire que les deux Véhicules doivent avoir les mêmes marque, modèle, finition, carrosserie, nombre de portes, motorisation, équipements, couleur, être disponible pour le Client dans les mêmes délais à 14 jours près, avoir la même durée et la même couverture de garantie (prise en charge des réparations) que celle proposée par Centre-Auto-CCAS, le même kilométrage à six mille (6000) kilomètres près et la même date de mise en circulation à six (6) mois près. Le Véhicule trouvé par le Client auprès d’un professionnel de l’automobile doit être dans un état global de qualité mécanique et de carrosserie équivalent à celui commandé auprès d’Centre-Auto-CCAS (avec une tolérance de cinq cents (500) euros de frais de remise en état).
- Le professionnel de l’automobile auprès duquel le Client a trouvé un Véhicule identique moins cher doit être en mesure de livrer le Véhicule en question dans un rayon de cent (100) kilomètres autour du point de livraison sélectionné par le Client pour le Véhicule commandé chez Centre-Auto-CCAS.

Comment bénéficier du remboursement :
Pour bénéficier du remboursement de la différence le Client devra, dans un délai de 14 jours à compter du passage de la commande (date du versement des arrhes faisant foi), adresser à Centre-Auto-CCAS sa demande de remboursement de la différence en suivant la procédure suivante :
- Envoyer un email à l’adresse : contact-fr@Centre-Auto-CCAS.com
- Joindre un devis ou Contrat du professionnel de l’automobile auprès duquel le Client a trouvé un Véhicule identique. La date du devis doit être postérieure à la date de commande du véhicule (date du versement des arrhes faisant foi), chez Centre-Auto-CCAS. Ce devis devra présenter le prix du Véhicule identique, ainsi que tous frais nécessaires à la commande et à la livraison de celui-ci dans les conditions détaillées précédemment.
- Joindre l’ordre de remboursement dûment rempli.
- Joindre un RIB émanant d’une banque établie sur le territoire français.
- Joindre la photocopie du Contrat du Véhicule commandé chez Centre-Auto-CCAS.

L’intégralité des documents doivent être transmis par le Client à Centre-Auto-CCAS en une seule fois. Toute demande de remboursement incomplète, illisible ou frauduleuse, sera considérée comme nulle. Le remboursement de la différence est une offre réservée aux particuliers domiciliés en France métropolitaine, et limité à un seul remboursement par Client et par période d’un an.

Modalités de remboursement :
Si l’ensemble des conditions précitées sont remplies, Centre-Auto-CCAS s’engage à rembourser au Client, le montant de la différence de prix entre le Véhicule commandé par le client auprès de Centre-Auto-CCAS et le Véhicule identique trouvé par le client auprès d’un professionnel de l’automobile, selon les modalités décrites ci-dessous :
- Le remboursement par virement bancaire sera effectif sous quatre (4) semaines après la date de livraison du Véhicule et sous réserve d’un solde à payer de zéro (0) euros.
- Le remboursement de la différence deviendra caduque en cas d’application de la garantie « Satisfait ou 100 % Remboursé » cité dans l’article 13 des présentes CGV.


Centre-Auto-CCAS France, SAS
55 boulevard Fauxgambetta
55555 Issy les Fauxlineaux
Capital social : 1.000 euros
RCS 555 555 555 NANTERRE
Ci-après dénommée « Centre-Auto-CCAS »
  </p>
</div>
