

<div class="container">
  <button routerLink="/home" class="btn btn-light">Main Menu</button>
  <h1>USER LOGIN</h1>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text ">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button routerLink="/userpro" class="btn btn-primary">Login</button>
  </form>
  <br>
  <br>
   <a class="btn btn-dark text-light mt-3 mr-3" target="_blank" href="mailto:admin@Centre-Auto-Ccas.com?subject=Devenir%20Vendeur&body= Bonojur M. Lodevie, %0dJe souhaite devenir vendeur avec votre site. %0d voici mes informations : %0d Nom:  %0dPrénom: %0dAdresse mail: %0dN° de téléphone: %0dN° SIRET: %0dMerci, %0d-mon nom">Email Nous: devenir un vendeur</a>
</div>
