.container {
  padding-top: 50px;
  padding-bottom: 100px;
  margin-top: 30px;
  background-image: linear-gradient(to top right,
      rgba(0, 0, 0, 0.483),
      rgba(255, 255, 255, 0.456)),
    url(../../assets/public/andrey-zvyagintsev-DTQxGDTeyj0-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

button {
  &:hover {
    background-color: black !important;
    color: white !important;
  }
}


h1,
label,
#emailHelp {
  color: white
}

input {
  height: 40px;
  font-size: large;
  border: 1px solid black;
}
