<div class="container customdivimg">
  
  <button routerLink="/home" class="btn btn-light mb-4 mr-2">Home</button>
  <button (click)="logout()" class="btn btn-light mb-4">Log-Out</button>
  <h1 class="text-light">Pro User Menu</h1>
  <br>
  <div class="">
    <button routerLink="/mes-info" class="btn-lg btn btn-light mr-3">My Information</button>
    <button routerLink="/mes-garages" class="btn-lg btn btn-light">My Garages</button>
  </div>
  <br>
  <button routerLink="/home" class="btn-lg btn btn-light mt-5">Logout</button>
</div>
