<section class="container customdivimg">


    <button routerLink="/admin-menu" class="btn btn-lg btn-light my-5">Admin Area</button>
    
    <h1 class="text-center text-white">Véhicules les plus récents</h1>
    <button class="btn btn-dark text-light my-3 mr-3 "
    *ngFor="let n of numSequence(carAds.length/10);
      let i = index;" (click)="changeSlice(i)"
      >{{i+1}}</button>
    
      <br>

   <form *ngIf="form" [formGroup]="form" class="big-box" (ngSubmit)="findCarAd()">
  <div class="container m-5">
      <div class="col-8">
        <label class="text-white mb-2" for="title">{{"Enter Car Ad ref number"|titlecase}}</label>
        <br>
        <input class="inputs-width mb-2" type="text" formControlName="adref">
        <br>
        <button type="submit" class="btn btn-lg btn-light mb-2">Find Car Ad</button>
        <br>
        <button *ngIf="isClicked" (click)="refreshCarListings()" type="submit" class="btn btn-lg btn-light">Reset Car Listings</button>
      </div>
  </div>
</form>
    
    <br>
    <div class="d-flex flex-wrap">
        <app-admin-car-card 
        *ngFor="let ad of carAds | slice:paginMin:paginMax" 
        [inputCars]="ad"
        (removeAdbyId)="removeAd($event)"
        >
        </app-admin-car-card>
    </div>

    <button class="btn btn-dark text-light mt-3 mr-3"
    *ngFor="let n of numSequence(carAds.length/10);
    let i = index;" (click)="changeSlice(i)"

    >{{i+1}}</button>

</section>



