<section class="container customdivimg">
    <button routerLink="/admin-menu" class="btn btn-lg btn-light my-5">Admin Area</button>
    <h1 class="text-center text-white">Véhicules les plus récents</h1>
    <button class="btn btn-dark text-light my-3 mr-3 "
    *ngFor="let n of numSequence(carAds.length/10);
      let i = index;" (click)="changeSlice(i)"
      >{{i+1}}</button>


    <div class="d-flex flex-wrap">
        <app-admin-car-card 
        *ngFor="let ad of carAds | slice:paginMin:paginMax" 
        [inputCars]="ad"
        (removeAdbyId)="removeAd($event)"
        >
        </app-admin-car-card>
    </div>

    <button class="btn btn-dark text-light mt-3 mr-3"
    *ngFor="let n of numSequence(carAds.length/10);
    let i = index;" (click)="changeSlice(i)"

    >{{i+1}}</button>

</section>


