<div class="container customdivimg mt-3">
    <button class="btn btn-light btn-lg mb-4" routerLink="/admin-menu">Admin Menu</button>
    <h1 class="text-center text-white">Pro-User List</h1>
    <div class="d-flex flex-wrap">
        <div *ngFor="let user of userTbl">
            <div class="card mr-2 mb-2" style="width: 30rem;">
                <div class="card-body">
                    <h2 class="card-title">Username: {{user.username|uppercase}}</h2>
                    <h4 class="card-subtitle mb-2">First Name: {{user.firstname|titlecase}}</h4>
                    <h4 class="card-subtitle mb-2">Last Name: {{user.lastname|titlecase}}</h4>
                    <p class="card-text">SIRET: {{user.siret}} </p>
                    <p class="card-text">E-mail: {{user.email}} </p>
                    <p class="card-text">Telephone: {{user.telephone}} </p>

                    
                    <a (click)="deleteUser(user.id)" class="btn btn-danger btn-sm text-white mr-1">Remove</a>
                </div>
            </div>
        </div>    
    </div>
</div>
