<div class="container customdivimg mt-3">
    <button class="btn btn-light btn-lg mb-4" routerLink="/admin-menu">Admin Menu</button>
    <div class="d-flex flex-wrap">

        
        <div class="card mr-2 mb-2" style="width: 20rem;">
            <div class="card-body">
                <h2 class="card-title">Username</h2>
                <h3 class="card-subtitle mb-2 text-muted">First Name:</h3>
                <h3 class="card-subtitle mb-2 text-muted">Last Name:</h3>
                <p class="card-text">SIRET#: </p>
                <p class="card-text">E-mail: </p>
                <p class="card-text">Telephone: </p>
                <a href="#" class="btn btn-danger btn-sm text-white">Remove</a>
            </div>
        </div>

        <div class="card mr-2 mb-2" style="width: 20rem;">
            <div class="card-body">
                <h2 class="card-title">Username</h2>
                <h3 class="card-subtitle mb-2 text-muted">First Name:</h3>
                <h3 class="card-subtitle mb-2 text-muted">Last Name:</h3>
                <p class="card-text">SIRET#: </p>
                <p class="card-text">E-mail: </p>
                <p class="card-text">Telephone: </p>
                <a href="#" class="btn btn-danger btn-sm text-white">Remove</a>
            </div>
        </div>

        <div class="card mr-2 mb-2" style="width: 20rem;">
            <div class="card-body">
                <h2 class="card-title">Username</h2>
                <h3 class="card-subtitle mb-2 text-muted">First Name:</h3>
                <h3 class="card-subtitle mb-2 text-muted">Last Name:</h3>
                <p class="card-text">SIRET#: </p>
                <p class="card-text">E-mail: </p>
                <p class="card-text">Telephone: </p>
                <a href="#" class="btn btn-danger btn-sm text-white">Remove</a>
            </div>
        </div>
        
        
        
    </div>
    
</div>
