<app-footer></app-footer>
<div class="container pt-5 customdivimg" >
  <app-home-btn></app-home-btn>
  <h1 class="text-light"> Conditions Générales d'Utilisation du Centre-Auto-CCAS</h1>
  <p class="paragraph text-justify p-5 text-light">


    Merci de lire attentivement les présentes Conditions Générales d'Utilisation du Centre-Auto-CCAS (ci-après, 'CGU') avant d'utiliser notre Site Internet.
§ 1 Dispositions Générales
(1) Centre-Auto-CCAS GmbH, Potsdamer Platz 5, 55555 Berlin, immatriculée au Registre du Commerce de la Cour Locale (Amtsgericht) de Berlin-Charlottenburg, Allemagne, sous le numéro HRB 505005 B (ci-après : 'Centre-Auto-CCAS') exploite le site web www.Centre-Auto-CCAS.com (ci-après : le 'Site Web'). Le Site Web permet aux utilisateurs du Site Web (ci-après : les 'Utilisateurs') de procéder à l'achat de véhicules d'occasion. L'achat de véhicules d'occasion via le Site Web est soumis aux Conditions générales de vente de la société Centre-Auto-CCAS GmbH.
(2) Les éventuelles conditions générales de l'Utilisateur pouvant diverger, s'opposer ou compléter avec les présentes Conditions Générales d'Utilisation ne seront pas applicables, indépendamment d'une éventuelle notification à l'égard du Centre-Auto-CCAS de la part de l'Utilisateur.
(3) Centre-Auto-CCAS se réserve le droit d'amender les présentes Conditions Générales d'Utilisation à tout moment pour des raisons opérationnelles, économiques ou juridiques. L'Utilisateur sera informé au moins 30 jours avant l'entrée en vigueur des éventuels amendements.

<br>
<br>
<span><strong (click)="showMore = !showMore">{{showMore? "moins": "afficher plus" }}</strong></span>
<br>
<br>
<span *ngIf="showMore">


§ 2 Inscription et Compte d'Utilisateur
(1) Avant que l'Utilisateur puisse faire l'acquisition d'un véhicule d'occasion via le Site Internet, il doit procéder à son inscription. Centre-Auto-CCAS n'a aucune obligation d'accepter l'inscription. L'utilisateur doit être âgé d'au moins 18 ans.
(2) L'Utilisateur devra renseignement sincèrement et complètement les données requises durant le processus d'inscription. Si les données fournies par l'Utilisateur évoluent ou changent, l'Utilisateur devra adapter son Compte d'Utilisateur immédiatement.
(3) Une fois l'inscription terminée, un Compte d'Utilisateur sera crée pour l'Utilisateur qui pourra y accéder en entrant son adresse email et son mot de passe. L'Utilisateur devra conserver le mot de passe de son Compte d'Utilisateur de manière sécurisée et confidentielle. L'Utilisateur n'est pas autorisé à communiquer son mot de passe à des tiers. L'Utilisateur devra immédiatement informer Centre-Auto-CCAS s'il existe une indication claire que les données d'accès de l'Utilisateur ont été ou seront utilisées de manière abusive par des tiers. En cas d'utilisation abusive suspectée, l'Utilisateur devra changer son mot de passe immédiatement.
(4) L'Utilisateur sera seul responsable de tous les actes menées à partir de ses données d'accès au Site Internet.
§ 3 Obligations de l'Utilisateur
(1) L'utilisateur devra veiller à ce que le contenu qu'il publie sur le Site Internet est licite et ne viole pas les droits de tiers. L'Utilisateur ne devra pas publier, via le Site Internet, de contenu à caractère violent, pornographique, raciste, susceptioble de nuire aux mineurs, de nature criminelle, illégale ou violant la loi.
(2) L'utilisateur ne devra pas bloquer, écraser ou modifier le contenu généré par Centre-Auto-CCAS ou interférer avec les services du Centre-Auto-CCAS de quelque manière que ce soit en particulier si cela peut résulter en un chargement excessif du Site Internet.
(3) L'Utilisateur devra garantir et relever indemne Centre-Auto-CCAS de toutes les réclamations de tiers à l'encontre du Centre-Auto-CCAS en raison d'une violation de leurs droits découlant de l'utilisation du Site Internet par l'Utilisateur. L'Utilisateur devra supporter notamment tous les frais nécessaires à la défense juridique du Centre-Auto-CCAS, ce qui inclut notamment les frais de justice et les honoraires d'avocat au taux légal éventuellement applicable.
§ 4 Droit d'auteur, autres droits de propriété industrielle et droits d'utilisation
Tous les élements composants le Site Internet (symboles, logos, textes, images et autres fichiers ou données) peuvent être soumis au droit d'auteur ou protégés au titre des droits de la propriété industrielle. l'utilisation de ce Site Internet ne donne pas le droit à l'Utilisateur d'utiliser ces informations et contenus. La modification, le traitement et l'utilisation des informations et du contenu du Site Internet par l'Utilisateur ou des tiers n'est pas autorisée, sauf accord préalable par écrit du Centre-Auto-CCAS ou d'un autre détendeur de droits.
§ 5 Sanctions
(1) Centre-Auto-CCAS pourra prendre différentes mesures s'il est probable qu'un Utilisateur enfreigne la loi applicable, les droits des tiers, les présentes Conditions Générales d'Utilisation ou les Conditions Générales de vente du Centre-Auto-CCAS France S.A.S.
(2) Ces mesures pourront, notamment, déboucher sur un avertisement de l'Utilisateur ainsi que le blocage temporaire ou définitive de l'Utilisateur.
§ 6 Garantie
En raison de la nature même d'Internet, il est possible que le Site Internet soit temporairement indisponible. L'accès de l'Utilisateur au Site Internet peut être occasionnellement interrompu ou limité en raison d'interventions de maintenance ou lors de l'introduction de nouvelles fonctionnalités. Centre-Auto-CCAS s'efforce d'assurer l'accessibilité et la fonctionnalité du Site Internet ou de limiter la durée et la fréquence de toute interruption ou restriction, dans les limites des possibilités techniques. Toutefois, Centre-Auto-CCAS ne garantit pas que le Site Internet sera disponible à tout moment, sans erreurs et sans interruptions.
§ 7 Responsabilité
(1) Dans l'hypothèse de sa simple négligence, Centre-Auto-CCAS ne pourra voir sa responsabilité engagée qu'en raison de ses manquements substantiels à ses obligations contractuelles, à savoir celles sur lesquelles l'Utilisateur peut raisonnablement compter pour la bonne exécution du contrat. En outre, Centre-Auto-CCAS ne sera responsable que négligence grossière ou faute volontaire ainsi qu'en cas de dommages portant atteinte à la vie, au corps ou à la santé.
(2) Dans l'éventualité de l'engagement de la responsabilité du Centre-Auto-CCAS pour simple négligence, celle-ci serait limitée aux dommages directs, prévisibles et directement imputables à Centre-Auto-CCAS.
§ 8 Dispositions Finales
(1) Les présentes Conditions Générales d'Utilisation sont soumises au droit français.
(2) Toute contestation de quelque nature qu’elle soit, relative à l’application des présentes Conditions Générales d'Utilisation et à l’utilisation et à la consultation du Site Internet, doit, à défaut d’accord amiable entre les parties, être portée devant les Tribunaux français seuls compétents
(3) Si l’une ou plusieurs clauses des CGU ou des parties de celles-ci étaient réputées non écrites, la validité des autres clauses n’en sera pas affectée. Les dispositions réputées non écrites seront de plein droit remplacées par une disposition effective reputée convenue entre les parties et se rapprochant le plus possible de l'intérêt économique des parties.
(4) L’Utilisateur a la possibilité de recourir gratuitement à un médiateur de la consommation en vue de la résolution amiable d’un éventuel litige qui l’opposerait à Centre-Auto-CCAS. Centre-Auto-CCAS reste libre de ne pas participer à la médiation
Le litige ne peut être examiné par le médiateur de la consommation :
Si l’Utilisateur ne justifie pas avoir tenté de résoudre le litige directement auprès de la filiale concernée par une réclamation écrite selon les modalités prévues, le cas échéant, dans le contrat qui les lie ;
Si la demande de l’Utilisateur est manifestement infondée ou abusive ;
Si le litige a été précédemment examiné ou est en cours d’examen par un autre médiateur ou par un tribunal ;
Si l’Utilisateur a introduit sa demande auprès du médiateur dans un délai supérieur à un an à compter de sa réclamation écrite auprès de la filiale concernée ;
Si le litige n’entre pas dans le champ de compétence du médiateur.
Le médiateur dispose d’un site internet permettant notamment de déposer une demande en ligne, étant précisé que la médiation par voie postale demeure toujours possible.
Il est précisé que :
L’agrément du médiateur d’Centre-Auto-CCAS est en cours. Les informations y afférentes seront mises à jour lorsque l’agrément sera effectif. Le site internet de la Commission d’évaluation et de contrôle de la médiation de la consommation comporte des informations utiles en cas de litige de consommation transfrontalier. Pour plus d’informations, voir : http://www.economie.gouv.fr/mediation-conso/commission

 </span>
  </p>
</div>

