<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <a class="navbar-brand" [routerLink]="'.'">Centre Auto'CCAS</a>

  <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>

  <!-- Step 2: Add the ngbCollapse directive to the element below. -->
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse bg-light " >
    <ul class="navbar-nav m-1 bg-light">
      <!-- WORKS -->
      <li ngbDropdown class="nav-item active">
          <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>{{marqueString|uppercase}}</a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a class="nav-link text-center" ngbDropdownItem *ngFor="let item of marquesArr" (click)="changeStringMQ(item)">{{item|uppercase}}</a>
          </div>
      </li>

      <li ngbDropdown class="nav-item active">
          <a  class="nav-link" id="dropdownBasic1" ngbDropdownToggle>{{modeleString|uppercase}}</a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a class="nav-link text-center" ngbDropdownItem *ngFor="let item of modeleArr" (click)="changeStringMD(item)">{{item|uppercase}}</a>
          </div>
      </li>

      <li ngbDropdown class="nav-item active">
        <a  class="nav-link" id="dropdownBasic1" ngbDropdownToggle>{{carbString|uppercase}}</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <a class="nav-link text-center" ngbDropdownItem *ngFor="let item of carb" (click)="changeStringCarb(item)">{{item|uppercase}}</a>
        </div>
      </li>

      <!-- v NEEDS WORK v -->

      <!-- year -->
      <li ngbDropdown class="nav-item active">
        <a  class="nav-link" id="dropdownBasic1" ngbDropdownToggle>{{slideNombre}}</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <label for="customRange1" class="form-label text-center">{{"Select a start year"|uppercase}}</label>
          <input ngbDropdownToggle type="range" class="form-range" min="1920" [max]="currentYear" [(ngModel)]="slideNombre" id="customRange1">
          
        </div>
      </li>

      <!-- Kilometers -->
      <li ngbDropdown class="nav-item active">
        <a  class="nav-link" id="dropdownBasic1" ngbDropdownToggle>{{kilometrage|uppercase}}</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <a class="nav-link text-center" ngbDropdownItem *ngFor="let item of carb" (click)="changeStringCarb(item)">{{item|uppercase}}</a>
        </div>
      </li>
      
      <!-- Price -->
      <li ngbDropdown class="nav-item active">
        <a  class="nav-link" id="dropdownBasic1" ngbDropdownToggle>{{prix|uppercase}}</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <a class="nav-link text-center" ngbDropdownItem *ngFor="let item of carb" (click)="changeStringCarb(item)">{{item|uppercase}}</a>
        </div>
      </li>



   <!--List Kilometers, Price -->
     


    </ul>
  </div>
</nav>
<app-body-cars></app-body-cars>

<!-- <div class="menu-toggle">
  <button (click)="menuDisplayed = !menuDisplayed" >{{menuDisplayed? "✕": "MENU ❖ "}}</button>
</div>

<section class="mb-5 search-menu" id="menu" *ngIf="menuDisplayed">
  <div class="flexrow" >
    <div class="myLi">
      <button (click)="closeOtherMenues('marqueBool')">{{marqueString}}</button>
      <div class="menu-selector" >
        <ul *ngIf="boolTbl.marqueBool"  >
          <li class="global-z" *ngFor="let item of marquesArr" (click)="changeStringMQ(item)">
          {{item}}
          </li>
        </ul>
      </div>
    </div>
    <div class="myLi" >
      <button [disabled]="marqueString =='Marque'? true: false"
      (click)="closeOtherMenues('modeleBool')" >{{modeleString}}</button>
      <div class="menu-selector">
        <ul *ngIf="boolTbl.modeleBool">
          <li *ngFor="let item of modele" (click)="changeStringMD(item)">{{item}}</li>
        </ul>
      </div>
    </div>
    <div class="myLi">
      <button (click)="closeOtherMenues('carbBool')">{{carbString}}</button>
      <div class="menu-selector">
        <ul *ngIf="boolTbl.carbBool">
          <li *ngFor="let item of carb" (click)="changeStringCarb(item)">{{item}}</li>
        </ul>
      </div>
    </div>


    <div class="myLi  ">
      <button (click)="closeOtherMenues('slideBool')">{{slideNombre}}</button>
      <div class="menu-selector">
        <ul *ngIf="boolTbl.slideBool">
          <li><input
            *ngIf="boolTbl.slideBool"
            (mouseup)="boolTbl.slideBool = !boolTbl.slideBool"
            (mouseout)="boolTbl.slideBool = !boolTbl.slideBool"
            type="range" min="1920" [max]="currentYear" value="50" name ="annee" class="range" [(ngModel)]="slideNombre"></li>
        </ul>
      </div>
    </div>

    <div class="myLi  ">
      <button (click)="closeOtherMenues('kmBool')">{{kilometrage}}</button>
      <div class="menu-selector">
        <ul *ngIf="boolTbl.kmBool">
          <li><input
            *ngIf="boolTbl.kmBool"
            (mouseup)="boolTbl.kmBool = !boolTbl.kmBool"
            (mouseout)="boolTbl.kmBool = !boolTbl.kmBool"
            type="range" min="0" max="150000" value="4000" name ="kilometrage" class="range" [(ngModel)]="kilometrage"></li>
        </ul>
      </div>
    </div>

    <div class="myLi ">
      <button (click)="closeOtherMenues('prixBool')">{{ prix == "prix"? "prix" : prix +"€"}}</button>
      <div class="menu-selector">
        <ul *ngIf="boolTbl.prixBool">
          <li><input
            *ngIf="boolTbl.prixBool"
            (mouseup)="getPrice($event)"
            (mouseout)="boolTbl.prixBool = !boolTbl.prixBool"
            type="range" min="0" max="100000" value="4000" name ="prix" class="range" [(ngModel)]="prix"></li>
        </ul>
      </div>
    </div>

    <div class="myLi">
      <button (click)="myBigValider()" id="valider">valider</button>
    </div>
  </div>

</section > -->





