<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <a class="navbar-brand" [routerLink]="'.'">Centre Auto'CCAS</a>

  <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>

  <!-- Step 2: Add the ngbCollapse directive to the element below. -->
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse bg-light " >
    <ul class="navbar-nav m-1 bg-light">


      <!-- CAR BRAND -->
      <li ngbDropdown class="nav-item active">
          <button class="my-drop-toggle myBtn nav-link" id="dropdownBasic1" ngbDropdownToggle>{{marqueString|uppercase}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a class="nav-link text-center" ngbDropdownItem *ngFor="let item of marquesArr" (click)="changeStringMQ(item)">{{item|uppercase}}</a>
          </div>
      </li>


      <!-- MODEL -->
      <li ngbDropdown class="nav-item active">
          <button [disabled]="marqueString =='BRAND'? true: false"  class="my-drop-toggle myBtn nav-link" id="dropdownBasic1" ngbDropdownToggle>{{modeleString|uppercase}}</button>
          <div  ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a class="nav-link text-center" ngbDropdownItem *ngFor="let item of modeleArr" (click)="changeStringMD(item)">{{item|uppercase}}</a>
          </div>
      </li>

      <!-- FUEL TYPE -->
      <li ngbDropdown class="nav-item active">
        <button  class="my-drop-toggle nav-link myBtn" id="dropdownBasic1" ngbDropdownToggle>{{carbString|uppercase}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <a class="nav-link text-center" ngbDropdownItem *ngFor="let item of carb" (click)="changeStringCarb(item)">{{item|uppercase}}</a>
        </div>
      </li>

   

      <!-- YEAR -->
      <li ngbDropdown class="nav-item active">
        <button  class="my-drop-toggle myBtn nav-link" id="dropdownBasic1" ngbDropdownToggle>{{slideNombre}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <label for="customRange1" class="form-label text-center">{{"Select a start year"|uppercase}}</label>
          <input ngbDropdownToggle type="range" (mouseup)="getYear($event)" class="form-range" min="1920" [max]="currentYear" [(ngModel)]="slideNombre" id="customRange1">
          
        </div>
      </li>


      <!-- Kilometers -->
        <li ngbDropdown class="nav-item active">
        <button  class="my-drop-toggle myBtn nav-link" id="dropdownBasic1" ngbDropdownToggle>{{kilometrage}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <label for="customRange1" class="form-label text-center">{{"Select max kilometer limit"|uppercase}}</label>
          <input ngbDropdownToggle type="range" (mouseup)="getKilometers($event)" class="form-range" min="0" max="300000" [(ngModel)]="kilometrage" id="customRange1">
        </div>
      </li>
      
      <!-- Price -->
        <li ngbDropdown class="nav-item active">
        <button  class="my-drop-toggle myBtn nav-link" id="dropdownBasic1" ngbDropdownToggle>{{prix == "PRICE"? "PRICE" : prix +" €"}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <label for="customRange1" class="form-label text-center">{{"Select a max price"|uppercase}}</label>
          <input ngbDropdownToggle type="range" (mouseup)="getPrice($event)" class="form-range" min="0" max="300000" [(ngModel)]="prix"  id="customRange1">
        </div>
      </li>

      <li class="nav-item active"> 
        <button (click)="myBigValider()" class="my-drop-toggle myBtn nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">{{"Submit"|uppercase}}</button>
      </li>

      <li class="nav-item active"> 
        <button (click)="resetCarAds()" class="my-drop-toggle myBtn nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">{{"Reset"|uppercase}}</button>
      </li>
     

    </ul>
  </div>
</nav>
<app-body-cars></app-body-cars>

