<div class="container customdivimg mt-3">
  
  <button routerLink="/mes-garages" class="btn btn-light btn-lg mb-3">Garage List</button>
    <div *ngIf="!modeEdit" ><!--GARAGE INFO  -->
            <div class="card mb-3 mr-4">
                <div class="card-header bg-dark text-white">
                    {{garage.name|uppercase}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">Address: {{garage.address|uppercase}}</h5>
                    <h5 class="card-title">Ville: {{garage.city|uppercase}}</h5>
                    <h5 class="card-title">Code: {{garage.postelcode}}</h5>
                    <p class="card-text">Tel: {{garage.telephone}}</p>
                    <div class="d-flex mt-3">
                      
                      <button (click)="modeEdit = !modeEdit" class="btn btn-lg btn-warning mr-2">Edit</button>
                      <button *ngIf="!sureDelete" (click)="sureDelete = !sureDelete" class="btn btn-lg btn-danger mr-2">Delete</button>
                      <div *ngIf="sureDelete">
                        <button (click)="deleteGarage(garage.id)" class="btn btn-lg btn-danger mr-2">CONFIRM DELETE</button>
                      </div>
                    </div>
                </div>
            </div>
    </div><!--END GARAGE INFO  -->
    
    <!-- Create car ad button -->
    <button routerLink="/create-car-ad/{{garage.id}}" class="btn btn-lg btn-success btn-lg my-2">Add Car Classified</button>
    
    <!-- Child Comp Update Form -->
    <app-garage-update-form 
    *ngIf="modeEdit" 
    [garageInfo]="garage"
    (editGarageMode)="updateThisGarage($event)"
    ></app-garage-update-form>
    <hr>

    
    
    <!--CAR ADS INFO  -->
    <hr class="car-parent-top-of-page">
<section>
  <h2 class="text-white">Current Car Classifieds</h2>
    <button class="btn btn-dark text-light my-3 mr-3 "
    *ngFor="let n of numSequence(carAds.length/10);
      let i = index;" (click)="changeSlice(i)"
      >{{i+1}}</button>

<!-- Child Car Announce Section -->
  <div class="my-flex-row">
    <app-garage-ads 
    *ngFor="let ad of carAds | slice:paginMin:paginMax" 
    [inputCars]="ad"
    (removeAdbyId)="removeAd($event)"
    ></app-garage-ads>
  </div>

  <!-- Navigation Buttons -->
  <button class="btn btn-dark text-light mt-3 mr-3"
    *ngFor="let n of numSequence(carAds.length/10);
    let i = index;" (click)="changeSlice(i)"

    >{{i+1}}</button>

</section>